{% extends "health_adv_app/base.html" %}
{% load staticfiles %}

{% block mainpage %}
<div class="container">

    <h1>About Us!</h1>

    <p style="font-family: georgia">Our app helps to live a healthy lifestyle and save a lot of time and money after consulting this app.
We provide with medicine information like treatment uses, side effects ,usage  recommendations safety warning, expert advice and answer to all patients frequently asked questions.
This  app saves a lot of time as now you no longer have to travel through traffic to aware healthcare! What's more there isn't much of waiting time to get personalized health care from the comfort of your home.
Continous monitoring and proactive healthcare is also provided as  an additional feature.</p>

<h2>How to lead a healthy lifestyle:</h2>
<ol>
  <li>Get active each day. Regular physical activity is important for the healthy growth, development and well-being of children and young people.</li>
  <li>Choose water as a drink.</li>
  <li>Eat more fruit and vegetables.</li>
  <li>Switch off the screen and get active.</li>
  <li>Eat fewer snacks and select healthier alternatives.</li>
</ol>
{% endblock %}


</div>
