 {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9f5f8;
}

/* Style the header */
header {
  background-color: rgb(173, 216, 230);
  padding: 22px;
  font-size: 18px;
  color: default;
  align-items: right;
  height: 75px;
}


/* Create two columns/boxes that floats next to each other */
#sidebar{
  float: right;
  width: 30%;
  height: 100%; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/*
#loginhead{
  background: red;
}
*/

.navbar-inner {
    background:transparent;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #e9f5f8;
}

table{
  width: 100%;
  border: 3px solid #606060;
  border-radius: 25px;
  margin-bottom: 50px;
}

td{
  font-weight: bold;
  font-size: 18px;
  border: 1px solid black;
}

th{
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
}

.risky{
  width: 100%;
  border: 5px solid red;
  border-radius: 25px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F5F5F5;
}

.non_risky{
  width: 100%;
  border: 5px solid green;
  border-radius: 25px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F5F5F5;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 770px) {
  nav, article {
    width: 100%;
    height: auto;
  }
